@{
    ViewData["Title"] = "Home Page";
}

<div class="explanation-text">
    <h1 class="display-4">Welcome</h1>
    <p>If you are like me and have too many hats and too many shoes, you can now have a computer tell you what to pair together.</p>
    <p>In order to get started, please decide if you want to start with a hat or a pair of shoes.</p>
    <p>Once you have that decided please select from top the of the page.</p>
</div>
